@media only screen and (max-width: 220px) {
  h1 {
    font-size: 1rem;
    line-height: 5rem;
    height: 5rem;
    width: 100%;
  }

  @keyframes font-size {
    0% {
      font-size: 1rem;
    }
    100% {
      font-size: 1.5rem;
    }
  }
  .msg-cont {
    margin-left: 1rem;
  }

  #msg-start,
  #msg-reset {
    font-size: 1rem;
  }
  #msg-start:active,
  #msg-reset:active {
    opacity: 0.5;
  }

  .options {
    height: 7rem;
    width: 7rem;
  }
  img {
    height: 5rem;
    height: 5rem;
  }
  .score-board {
    gap: 1rem;
    margin-top: 2rem;
  }

  .score {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .player-label {
    padding: 0.5rem 1.5rem;
  }
  #user-score,
  #comp-score {
    font-size: 1.5rem;
  }
  .win-container {
    margin-top: 1rem;
  }
  .win-msg {
    padding: 0.5rem 1.75rem;
    font-size: 1.5rem;
    word-spacing: 0;
    text-align: center;
  }
}
