@media only screen and (max-width: 320px) {
  h1 {
    font-size: 2rem;
    animation: font-size 1s infinite;
    line-height: 7rem;
    height: 7rem;
    margin-bottom: 2rem;
  }
  @keyframes font-size {
    0% {
      font-size: 1rem;
    }
    100% {
      font-size: 2.5rem;
    }
  }
  .msg-cont {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  #msg-start,
  #msg-reset {
    font-size: 1.25rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0.5rem 1rem;
    animation: opacity 2s ease-in;
  }
  #msg-start:active,
  #msg-reset:active {
    opacity: 0.5;
  }
  .select {
    gap: 0;
  }
  .options {
    height: 10rem;
    width: 10rem;
  }
  .options:active {
    opacity: 0.5;
    transform: scale(1.2);
  }
  img {
    height: 7rem;
    height: 7rem;
  }
  .score-board {
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .score {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .player-label {
    padding: 1rem 2rem;

  }
  #user-score,
  #comp-score {
    font-size: 2rem;
  }
  .win-container {
    margin-top: 2rem;
  }
  .win-msg {
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    word-spacing: 0.5rem;

  }
}
